*{    
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

:root{

 --primary-color: #211b80;
  --primary-hover: #5751b6;
  --text-dark:#1f2e55;
  --text-light:#7280a7;
  --bg-main:#c0dae9;
  --font-family:rgb(172, 183, 204);
}

body{
    font-family:var(--font-family);
    background-color:var(--bg-main);
    color:aqua;
    min-height: 100vh;
    margin:0%;
}


h1{
  color: rgb(13, 89, 124);
  text-align: center;
}

p{
  font-family:Verdana, Geneva, Tahoma, sans-serif verdana;
  font-size: 20px;
}
img{

     max-width:50%;
     max-height:20px;
     height:auto;
     display:block;
}
.card{
    background-image:url("./images/pattern-background-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;

    background-color:#ffff;
    width:80%;
    max-width:400px;
    border-radius:20px;
    overflow:hidden;
} 

.card-body{
  padding: 24px 20px;
  text-align:center;

}
.hero-img{
  width:80%;
  height:auto;
  display:center;
}
.button{
    width:100%;
    border-radius:10px;
    padding:20px;
}
.Plan-box{
  width:100%;
  padding: 16px;
  border-radius:12px;
  background-color: #211b80;
}


