*{    /* (*) seleciona absolutamente todos os elementos html da pagina .*/
    margin:0%; /* remove as margens externas padrao de todos os elementos. */
    padding:0%; /* remove todo o espacamento interno padrao dos elementos (como o recuo interno padrao 
    de listas ou botoes).*/
    box-sizing:border-box; /*garantiindo que o elemento nao quebre o layout crescendo alem do tamanho
    especificado. */
}

body{
    display:flex;
    justify-content:center;
    align-items:center; /*centraliza os elementos filhos verticalmente na tela. */
    min-height:100vh;  
    background:linear-gradient(90deg,#211b80,#211b80,#ffff); /* cria um fundo com degrade na direcao
    de 90 graus (da esquerda para a direita), transicionando de cor). */

}
.card h1{
  color: rgb(13, 89, 124);/* define a cor do texto para um tom . */
  text-align: center; /* centraliza o texto do titulo. */
  font-size: 1.2rem;
}

.card p{
  color:#211b80;
  font-size: 20px;/*define o tamanho da fonte dos parafrafos. */
}
.card .img-box{
    position:absolute;
    width:250px;
     height:auto;
     top:0px;  /* posiciona a caixa colada no topo do conteiner pai*/
     transition:0.5s; 
}
.card:hover .img-box{
  top: -60px;
  scale:0.75; /* reduz a escala da imagem para 75% do seu tamanho original (fica levemente menor).*/
}

.card .img-box img{    
  width:100%; 
  height:100%;
  object-fit: cover;/* garante que a imagem preencha todo o espaco disponivel sem ser esticada ou distorcida(
  ela corta os excessos mantendo a proporcao original).*/
}
.card{
    display: flex;
    justify-content:center; /* centraliza os elementos filhos horizontalmente dentro do card. */
    width: 350px;
    height: 300px;
    position:relative; /* manteve o posicionamento padrao do elemento no fluxo da pagina*/
    background-color:#ffffff;/* define a cor de fundo do card */
    border-radius: 20px; /* e usada para arrendondar os cantos da borda de um elemento. */
    box-shadow:0px 35px 80px rgba(0,0,0.15);/* adiciona uma borda suave abaixo do card.*/
    transition:0.5s;
}
.card:hover{
  height:400px;/* define a nova altura.*/
}

.card.card-content{
  display:flex;/* permitindo organizar e alinhar facilmente os elementos filhos dentro deste conteiner. */
  flex-direction:column;/*define a direcao dos elementos filhos empilhados em coluna(um debaixo do outro),
  em vez de lado a lado */
  gap: 18px;/* define o espacamento constante entre cada elemento filho do container.*/
  position:absolute;/* remover o elemento do fluxo normal da pagina e o posiciona em relacao ao ancestral
  mais proximo que tenha.*/
  top: 250px; /* empurra o elemento para baixo, a partir do topo do seu elemento pai de referencia. */
  width:100%; /* faz o conteiner ocupar 100% da largura disponivel do seu elemento pai. */
  padding:0px 30px;/*define o espacamento interno do elemento. */
  text-align:center;/* centraliza todo o texto e elementos inline contidos dentro dessa caixa.*/
  height:30px;/* trava a altura do container em exatamente(geralmente usado para esconder o conteudo restante
  quando combinado  a propriedade abaixo.*/
  overflow:hidden; /* esconde qualquer conteudo que ultrapasse o limite de alutra do conteiner(cort o que
  "vazar" */
  transition:0.5s;/* cria uma animacao suave de segundos quando alguma propriedade desse elemento mudar (
  ex: se a altura expandir de 30px para outro valor no :hover).*/

}
.card:hover .card-content{
  top:130px;
  height:250px;
}
.card .read-more{
  background: linear-gradient(90deg,#211b80,#211b80);
  padding:12px;
  color:#ffffff;
  text-decoration:none;
  border-radius:8px;
}

.plan-detail{
  display:flex;
  flex-direction:column;/*colocar o preco abaixo do titulo*/
  gap:4px; /*espaco entre o titulo eo preco*/
}

.plan-title{
  color:hsl(224 23% 55%);/*cor escura padrao de card */
  font-size: 1rem;
}

.plan-price{
  color:hsl(224 23% 55%);/* cor cinza/suave para preco.*/
  font-size: 0.9rem;
}

button{
  padding:17px 40px;
  border-radius:50px; /* arredonda as pontas do botao ate criar o formato totalmente oval/pilula.*/
  cursor:pointer;  /*transforma o ponteiro do mause no icone " maozinha de clique" ao passar por cima do botao. */
  border:0;/* remove a borda padrao do navegador em volta do botao. */
  background-color:blue;
  box-shadow:rgb(13, 89, 124) 0 0 8px;/* adiciona um leve brilho /sombra ao redor do botao usando a cor. */
  letter-spacing: 1.5px; /* adiciona um espaco entre cada letra do texto.*/
  text-transform:uppercase; /*converte todo o texto do botao para letras maiusculas. */
  font-size:15px; /* define o tamanho da fonte. */
  transition: all 0.5s ease;
}

button:hover{
 letter-spacing: 3px; /* aumenta o espaço entre as letras ( efeito de "expansao" do texto). */
 background-color:hsl(261deg 80% 48%);
 color:hsl(0,0%,100%); /* muda a cor do texto  para branco puro. */
 box-shadow: rgb(93 24 220) 0px 7px 29px 0px; /* cria uma sombra projetada para baixo com tom arroxeado,
 dando um efeito de elevaçao no botao . */

}

button:active{
   letter-spacing: 3px;
   background-color:hsl(261deg 80% 48%);
   color:hsl(0,0%,100%);
   box-shadow:rgb(93 24 220) 0px 0px 0px 0px; /* remove totalmente a sombra, dando a impressao de que
   o botao "desceu" em direçao a tela. */
   transform: translateY(10px);/*  empurra o botao 10px para baixo na tela, simulaçao fisica de botao sendo
    afundado/ pressionando.*/
   transition:100ms;/* aplica essa animaçao de clique em um ritmo ultra rapido para dar resposta imediata
   ao toque. */

}
