*{    
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

:root{

 --primary-color: #211b80;
  --primary-hover: #5751b6;
  --text-dark:#1f2e55;
  --text-light:#7280a7;
  --bg-main:#a2a2a5;
  --font-family:red;
}

body{
    font-family:var(--font-family);
    background-color:var(--bg-main);
    color:aqua;
    min-height: 100vh;
}

img{

     max-width:50%;
     height:auto;
     display: block;
}